<!DOCTYPE html>	
	<% include ../partials/header.ejs %>
	

	<div id="medcont1" class="meds-container">
		<h2>About you!</h2>
		<form action="/users/<%=info.id%>/myprofile" method="POST">
			<h3>Personal Info:</h3>
			<input type="text" name="profile.firstName" placeholder="first name">
			<input type="text" name="profile.lastName" placeholder="last name">
			<input type="text" name="profile.dob" placeholder="MM/DD/YYYY">
			

			<h3>Address:</h3>
			<input type="text" name="address.addType" placeholder="Home? Work?">
			<input type="text" name="address.aptNum" placeholder="Apt. Number">
			<input type="text" name="address.addr1" placeholder="Street Address">
			<input type="text" name="address.city" placeholder="City">
			<input type="text" name="address.state" placeholder="State">
			<input type="text" name="address.state" placeholder="Zip">
			<input type="hidden" name="_method" value="PUT"/></br>
			<input type="submit" value="Add">
		</form>
	</div>

		
		<div id="medcont2" class="meds-container">
			<h2>My Doctor</h2>
			<form action="/users/<%=info.id%>/myprofile" method="POST">
				<input type="text" name="firstName" placeholder="First Name">
				<input type="text" name="lastName" placeholder="Last Name">
				<input type="text" name="email" placeholder="email">
				<input type="text" name="phone" placeholder="Phone Number">
				<input type="text" name="meds.refills" placeholder="refills">
				<!-- <input type="hidden" name="_method" value="PUT"/> -->
				<input type="submit" value="Add">
			</form>
		</div>

	<div id="medcont3" class="meds-container">
		<h2>Account Settings</h2>
			<h3>To delete your account: </h3>
			<form action="/users/<%=info.id%>/myprofile" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<button id="delete-button">Delete My Account</button>
			</form>
	</div>


	<div id="home-container">
		<ul>
			<%for(var i=0; i < info.length; i++){%>
				<li><%=info[i].profile.firstName%></li>
				<li><%=info[i].profile.lastName%></li>
				<li><%=info[i].profile.dob%></li>
				<li><%=info[i].profile.address.addrType%></li>
				<li><%=info[i].profile.address.aptNum%></li>
				<li><%=info[i].profile.address.addr1%></li>
				<li><%=info[i].profile.address.city%></li>
				<li><%=info[i].profile.address.state%></li>
				<li><%=info[i].profile.address.zip%></li>
			<%}%>
		</ul>
	</div>


	<h2 id="users-name"><%=info.firstName%> Your Profile </h2>

</body>