<!DOCTYPE html>

	<% include ../partials/header.ejs %>
	<h2>Hi <%=info.profile.firstName%></h2>
		<a href="/users/<%=info.id%>/myprofile">Profile</a>

		<h2>My Doctor</h2>
		<div id="my-doc-container">
			<form action="/users/<%=info.id%>" method="POST">
				<input type="text" name="firstName" placeholder="First Name">
				<input type="text" name="lastName" placeholder="Last Name">
				<input type="text" name="email" placeholder="email">
				<input type="text" name="phone" placeholder="Phone Number">
				<input type="text" name="meds.refills" placeholder="refills">
				<!-- <input type="hidden" name="_method" value="PUT"/> -->
				<input type="submit" value="Add">
			</form>
		</div>


		<h2>Medications</h2>
			<div id="meds-container">
				<h3>Add Medication</h3>
					<form action="/users/<%=info.id%>" method="POST">
						<input type="text" name="name" placeholder="name">
						<input type="text" name="rx" placeholder="rX number">
						<input type="text" name="dosage" placeholder="dosage">
						<input type="text" name="directions" placeholder="directions">
						<input type="text" name="refills" placeholder="refills">
						<input type="submit" value="Add">
					</form>

				<h3>Edit Meds</h3>
					<form action="/users/<%=info.id%>" method="POST">
						<input type="text" name="name" placeholder="Name">
						<input type="text" name="rx" placeholder="rX Number">
						<input type="text" name="dosage" placeholder="Dosage">
						<input type="text" name="directions" placeholder="Directions">
						<input type="text" name="refills" placeholder="refills">
						<input type="hidden" name="_method" value="PUT"/>
					<input type="submit" value="Edit">
				</form>
			</div>


		<h2>My Meds</h2>
		<ul>
			<%for(var i=0; i < info.meds.length; i++){%>
				<li><%=info.meds[i].name%></li>
			<%}%>
		</ul>




</body>
</html>