<!DOCTYPE html>

	<% include ../partials/header.ejs %>
	<h2>Hi <%=info.profile.firstName%></h2>
		<a href="/users/<%=info.id%>/myprofile">Profile</a>

		<h2>My Doctor</h2>
		<div id="my-doc-container">
			<form action="/users/<%=info.id%>" method="POST">
				<input type="text" name="firstName" placeholder="First Name">
				<input type="text" name="lastName" placeholder="Last Name">
				<input type="text" name="email" placeholder="email">
				<input type="text" name="phone" placeholder="Phone Number">
				<input type="text" name="meds.refills" placeholder="refills">
				<!-- <input type="hidden" name="_method" value="PUT"/> -->
				<input type="submit" value="Add">
			</form>
		</div>



			<div id="medcont1"class="meds-container">
				<ul>
				<li>Add Medication</li>
					<form action="/users/<%=info.id%>" method="POST">
						<input type="text" name="name" placeholder="name">
						<input type="text" name="rx" placeholder="rX number">
						<input type="text" name="dosage" placeholder="dosage">
						<input type="text" name="directions" placeholder="directions">
						<input type="text" name="refills" placeholder="refills">
						<input type="submit" value="Add">
					</form>
				</div>
				<div id="medcont2"class="meds-container">
				<li>Edit Meds</li>
					<form action="/users/<%=info.id%>" method="POST">
						<input type="text" name="name" placeholder="Name">
						<input type="text" name="rx" placeholder="rX Number">
						<input type="text" name="dosage" placeholder="Dosage">
						<input type="text" name="directions" placeholder="Directions">
						<input type="text" name="refills" placeholder="refills">
						<input type="hidden" name="_method" value="PUT"/>
					<input type="submit" value="Edit">
				</form>
				</ul>
			</div>

		<div id="home-container">
		<h2>My Meds</h2>
			<ul>
				<%for(var i=0; i < info.meds.length; i++){%>
					<li><%=info.meds[i].name%></li>
				<%}%>
			</ul>
		</div>




</body>
</html>